<!-- Banner -->
<div class="wrapper style1">
	<div id="banner">
		<section class="container">
			<%= image_tag 'bigwhiteseplogo.png', class: 'logo'%>
			<p>UC Berkeley's Premier Entrepreneurship Fraternity</p>
		</section>
	</div>
</div>