<!-- Banner -->
	<div id="banner">
		<section class="container">
			<h2>Solarize</h2>
			<span>Design by Templated</span>
			<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p>
		</section>
	</div>