<div class="wrapper style4">
	<section class="container">
		<header class="major">
			<h2 class = "decorated"> <span> Spring 2015 Rush </span> </h2>
			<span class="byline"></span>
		</header>
		<div class="row flush">
			<% RushEvent.all.each do |event| %>
				<div class="3u">
					<h2> <%= event.name %></h2>
					<br>
					<span class="broprop"> Date </span>
					<span> <%= event.time.strftime("%A, %b %-d") %></span>
					<br>
					<span class="broprop"> Time </span>
					<span> <%= event.time.strftime("%r") %></span>
					<br>
					<span class="broprop"> Location </span>
					<span> <%= event.location %></span>
				</div>
			<% end %>
		</div>
	</section>
</div>