<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
	<%= render "shared/header" %>
	<body>

		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					<section>
						<header class="major">
							<h2>About Us</h2>
							<span class="byline"> </span>
						</header>
						<p class="left">Sigma Eta Pi, founded in 2010 at University of California Los Angeles, is the first entrepreneurship fraternity on the West Coast. Our current chapters are complemented by their surrounding startup communities, including Silicon Valley and the emerging Silicon Beach. Brothers of Sigma Eta Pi come from a wide variety of majors and backgrounds, and have started over 21 different ventures. These include one backed by Y-Combinator and acquired by Square for $90 million, five fully funded projects (two by Venture Capital, three by crowd-sourced funding), and the largest hackathon the nation has ever seen.</p>

						<p class="right">We are dedicated to developing and maximizing human potential. Growth at Sigma Eta Pi occurs in the unique combination of our three core aspects – Innovation, Brotherhood, and Professionalism. Our mission is to transform individuals into starters who follow their passions, develop lasting meaningful relationships, and create value through innovative pursuits.  With our talented and diverse network of brothers, educational and skills-based workshops, and strong influence and involvement in the college and greater entrepreneurial community, we enable our brothers to turn ideas into startups, pursue creative projects, build networks for life, and learn valuable professional skills.</p>
					</section>
				</div>
			</div>
		
			<%= render "shared/footer" %>
		

	</body>
