<html class="homepage">
	<%= render 'shared/header' %>
	<div class="wrapper style5">
		<section class="container">
			<header class="major">
				<h2> <%= @title %> </h2>
			</header>
			<%= render 'list' %>
		</section>
	<%= render "shared/footer" %>
</html>