
.owl-item > div > *{
	width: 100%;
   max-height: 100%
}

.testimonial {
   position: relative; 
   left: 0; 
   width: 100%; 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

   .testimonial.top {
      top: 105px; 
   }

   .testimonial.bottom {
      top: -55px; 
   }

.owl-wrapper {
	width: 100%;
}