/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

.row {
	text-align: center;
	align-content: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}