<div> 
    <%= render 'shared/header' %>
    <div class="wrapper style2">
      <div id="content", class="container">
      <%= render 'brother_form' %>
      </div>
    </div>
      <%= render "shared/footer" %>
</div>
